<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KuteSmartCRM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A65CD651EBD754F0037F668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A65CD7E1EBD754F0037F668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A65CD891EBD754F0037F668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
